<header scroll-animation class="animate-content">
    <div>
        <div class="logo">
            <logo-svg></logo-svg>
        </div>
        <div class="lang">
            <span ng-click="goToCulture('it')" click-animation>ITA</span>
            <span ng-click="goToCulture('en')" click-animation>ENG</span>
            <span ng-click="goToCulture('zh')" click-animation>中文</span>
        </div>
    </div>
</header>
<div id="video-container" class="flex-container">

    <div ng-repeat-start="item in categories" ng-class="'category-' + item.ID" class="col col-1-4 animate-content home-box">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 341">
            <polygon points="256,170.5 0,341 0,0 512,0 " />
        </svg>
        <h2 ng-bind="item.Title"></h2>
    </div>
    <div ng-repeat="video in videos | filter:{CategoryID:item.ID}" class="col col-1-4 animate-content home-box" id="video-{{video.ID}}">
        <!--<img ng-src="/media/image/thumb/256x170/{{ video.ImageUrl }}" alt="{{video.Title}}" id="{{video.ID}}" />-->
        <video-thumb video="video" ng-click="goToVideo(video.ID)"></video-thumb>
        <!--<div class="icon-svg play-video playing icon-centered" ng-show="video.playing"></div>-->

    </div>
    <div ng-repeat-end></div>
</div>
<div class="modal">
    <ui-view></ui-view>
</div>
<div scroll-animation="destroy" class="scroll-down">
    <span class="img"></span>
</div>
